.btn1{
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 1.4rem;
    margin-right: 1rem;
    background-color: #20c997;
    color: white;

    &:hover{
        color: grey;
        background-color: white;
        border: 3px solid #20c997;
    }
}
.btn2{
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 1.4rem;
    background-color: #20c997;
    color: white;
    &:hover{
        color: grey;
        background-color: white;
        border: 3px solid #20c997;
    }
}