{% extends 'base.html' %}

{% block title %} 
  Course Page
{% endblock %}

{% block lgNav %}
{% if session  %}
<a href="{{url_for('profile')}}" class="py-5 px-3 ">Profile</a>
<a href="{{url_for('logout')}}"class="py-2 px-3 bg-purple-700 text-white hover:bg-purple-300 hover:text-purple-800 rounded transition duration-300 ">Log out</a>
{% else %}
<a href="{{url_for('login')}}" class="py-5 px-3">Log In</a>
<a href="{{url_for('register')}}"class="py-2 px-3 bg-purple-700 text-white hover:bg-purple-300 hover:text-purple-800 rounded transition duration-300 ">Register</a>
{% endif %}
{%endblock%}

{% block mdNav%}
{% if session  %}
<a href="{{url_for('profile')}}" class="block py-2 px-4 text-sm hover:bg-gray-200">Profile</a>
<a href="{{url_for('logout')}}" class="block py-2 px-4 text-sm hover:bg-gray-200">Log out</a>
{% else %}
<a href="{{url_for('login')}}" class="block py-2 px-4 text-sm hover:bg-gray-200">Log in</a>
<a href="{{url_for('register')}}" class="block py-2 px-4 text-sm hover:bg-gray-200">Register</a>
{% endif %}
{%endblock%}

{% block body %}
<h2 class="text-center p-10 m-14 bg-blue-500 text-white text-5xl">Courses Coming soon</h2>
{%endblock%}
