.about{
    padding: 2rem 10rem;
    display: flex;
    color: grey;
    &-text{
        width: 50%;
        margin-right: 6rem;
        &-head{
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
            color: black;
        }
        &-desc{
            line-height: 1.4rem;
        }
    }
}

.table{
    td{
        padding: 0.4rem;
    }
}